.boxCart {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.boxColumnDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px black solid;
    text-align: center;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
}

.boxColumnDescription p {
    width: 20%;
}

.boxCartList {
    display: flex;
    flex-direction: column;
}

.boxCartDetail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
}

.boxRemoveItem button {
    border: none;
    background: none;
    font-size: 16px;
}

.boxCartDetail p,
.boxCartDetail div {
    width: 20%;
}

.boxTotal { 
    margin-top: 30px;
    border-top: 1px black solid;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.boxEndButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.boxEndButtons button {
    border-radius: 0;
    border-style: none;
    border: solid 1px black;
    font-size: 16px;
    padding: 6px 18px;
    font-family: "League Spartan", sans-serif;
    margin: 10px;   
}

@media (min-width: 700px) {
    .boxColumnDescription,
    .boxCartDetail {
        font-size: 14px;
    }

    .boxEndButtons button {
        width: 30%;
    }
}
