.iconcart {
    font-size: 25px;
}

.boxCart {
    display: flex;
}

.quantity {
    color: rgb(0, 0, 0);
    align-self: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-weight: 900;
}
