.categories {
    position: relative;
}

.menuCategories {
    font-size: 16px;
}

.menuCategories:hover {
    cursor: pointer;
    color: rgba(104, 85, 85, 0.631);
}

.menuCategories,
.listCategories {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.listCategories {
    position: absolute;
    left: 10px;
    top: 20px;
    background-color: rgba(245, 245, 245, 0.798);
    border-radius: 1.8px;
    padding: 15px 35px 15px 10px;
    list-style: none;
    text-transform: capitalize;
    font-size: 12px;
}

.liListCategories:hover {
    background: rgba(104, 85, 85, 0.421);
    padding: 8px;
    border-radius: 1.8px;
    cursor: pointer;
}


.listCategories a {
    display: block;
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.allProducts {
    margin-bottom: 5px;
}