.categories {
    position: relative;
}

.menuCategories {
    font-size: 16px;
}

.menuCategories:hover {
    cursor: pointer;
    color: #aaa9a9;
}

.menuCategories,
.listCategories {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.listCategories {
    position: absolute;
    left: 8px;
    top: 20px;
    background-color: rgba(153, 153, 153, 0.784);
    border-radius: 5px;
    padding: 15px 35px 15px 10px;
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
}

.liListCategories:hover {
    background: rgba(255, 255, 255, 0.807) 26%;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}


.listCategories a {
    display: block;
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.allProducts {
    margin-bottom: 5px;
}